<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="static/nihonapp/style/sign.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@5.1.3/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="bg-dark">
    <div id = " margen"class="login">
      <h1 class="text-center">Agregar productos</h1>

      <form id="formularioA" action="administradorp.html">
        <div class="form-group ">
          <label class="form-label" for="Nombre">Nombre Producto</label>
          <input class="form-control" type="text" id="Nombre"  />
          <h6 class="text-danger" id="alertaN"></h6>
        </div>
        <div class="form-group ">
          <label class="form-label" for="codigo">Codigo Producto</label>
          <input class="form-control" type="number" id="codigo"  />
          <h6 class="text-danger" id="alertaC"></h6>
        </div>
        <div class="form-group ">
          <label class="form-label" for="precio">precio del producto</label>
          <input class="form-control" type="number" id="precio"  />
          <h6 class="text-danger" id="alertaP"></h6>
        </div>
        <div class="form-group">
          <p>Categoria</p>
          <select id="dropdown" name="role" class="form-control" >
            <option disabled selected value>Select la categoria</option>
            <option value="teclados">Teclado</option>
            <option value="mouse">mouse</option>
            <option value="tarjetas">Tarjeta de video</option>
            <option value="procesador">procesador</option>
            <option value="Almacenamiento">Almacenamiento</option>
            <option value="gabinete">gabinete</option>
            <option value="Placa">placa madre</option>
            <option value="Fuente">Fuente de poder</option>
          </select>
          <h6 class="text-danger" id="alertaS"></h6>
        </div>
        <div class="form-group">
          <label class="form-label" for="imagen">Imagen del Producto</label>
          <input class="form-control" type="file" name="imagen" id="imagen" />
          <h6 class="text-danger" id="alertaI"></h6>
        </div>
        <div class="container-fluid text-center">
          <input class="btn btn-primary px-xxl-5" type="submit" value="Agregar">  
          <a class="btn btn-secondary cancelar-btn" href="administradorp.html">Cancelar</a> 
        </div>
      </form>
    </div>
    <script src="static/nihonapp/js/validarA.js"></script>
  </body>
</html>
