body{
    height: 100vh;
    width: 100%;
    position: relative;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2rem 8%;
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;
}

.social-container, .footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    background-image: url(https://cdn.icon-icons.com/icons2/555/PNG/512/facebook_icon-icons.com_53612.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: #121212;
    box-shadow: 0px 0px 10px 2px #FFFFFF;
}
  
.social-icon:nth-of-type(2){
    background-image: url(https://cdn.icon-icons.com/icons2/1753/PNG/512/iconfinder-social-media-applications-3instagram-4102579_113804.png);
}

.social-icon:nth-of-type(3){
    background-image: url(https://cdn.icon-icons.com/icons2/99/PNG/512/whatsapp_socialnetwork_17360.png);
}

.footer-container{
    list-style-type: none;
}

.footer-container a {
    color: #fff;
    text-decoration: none;
}

.footer-container a:hover {
    text-shadow: 1px 1px 2px #999;
  }
  
.footer-container li.menu-item {
  margin-right: 1rem;
}

.menu-item:hover{
    opacity: 1;
}

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.navbar.bg-body-tertiary {
    background-color: #141414 !important;
}

.navbar-nav li a {
    color: #fff !important;
}

.dropdown-menu {
    background-color: #333;
  }
  
.dropdown-toggle {
    color: #141414 !important;
}
.dropdown-item:hover {
    background-color: black;
}
  
.btn-outline-success {
    background-color: green;
    color: #fff;
}
  
.navbar-toggler {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 10px;
    color: #333;
}

.btn-outline-secondary {
    background-color: #921492;
    color: #fff;
}

.form-btn {
    margin-right: 10px;
}
  